@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    
}

:root{
    --red:#f00c32;
    --white:#fff;
    --dark:#1e1c2a;
    --blue:#084fd4;
}

body{
    color: var(--dark);
    background: var(--white);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 0 0.1rem 0.5rem;
    width: 100%;
    background:var(--white);
    transition: all 0.5s;
    position: fixed;
    
}

.navigation .logo{
    color: var(--yellow);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span{
    color:var(--dark) ;
}


.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation{
    color: var(--blue);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--red);
}

.navigation i{
    cursor: pointer;
    font-size: 1.5em;
}

.menu{
    cursor: pointer;
    display: block;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;

}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--yellow);
}


@media (max-width:785px) {
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    
    .menu-ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-menu.ativo{
        right: 0;
    }
    .nave-item{
        margin: 16px 0S;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h3{
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home-img{
        width: 125%;
    }
}

  .carousel {
    width: 80%; /* Ajuste conforme necessário */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 100%; /* Ajuste conforme necessário */
    margin-right: 15px; /* Espaçamento entre os vídeos */
  }

  /* Estilos para os controles do carrossel */
  .carousel-controls {
    text-align: center;
    margin-top: 10px;
  }

  .carousel-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }